body{
    background-image: url("D:/merry/santa.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.center_div{
    margin-left: 550px;
    position: fixed;
    margin-bottom: 200px;
    background-color: rgba(255,255,255,0.1);
    display: flex;
    align-items: center;
}
.create{
    background-color: #3e8e41;
}
.login{
    background-color: #3e8e41;
}
.delete{
    background-color: #3e8e41;
}
h1{
    color: darkturquoise;
    font-weight: bolder;
    text-align:center;
    font-size:100px;
}
h2{
    color: black;
    text-align: center;
}
nav{
    font-size: 30px;
    background-color: white;
    color: black;
}
button{
    font-size: larger;
    font-weight: bolder;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
}
button>a{
    text-decoration: none;
}
button:hover{
    cursor: pointer;
}
.dropbtn{
    background-color: #04aa6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color:flflfl;
    min-width:160px;
    box-shadow:0px 8px 16px 0px rgpa(0,0,0,0.2);
    z-index:1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{background-color:#ddd;}
.dropdown:hover .dropdown-content{display: block;}
.dropdown:hover .dropbtn{background-color: #3e8e41;}